server:
  port: 8081

spring:
  application:
    name: auth-service
  
  datasource:
    url: ${AUTH_DATASOURCE_URL}
    username: ${POSTGRES_AUTH_DB_USER}
    password: ${POSTGRES_AUTH_DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000  # 24 hours in milliseconds

logging:
  level:
    com.bitly.auth: DEBUG
    org.springframework.security: DEBUG